/* ==================================================Header================================================== */
.wrapper{
  background-color: #8F8F8F;
  height: 150px;
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  background: url("https://wallpapersmug.com/download/3840x2400/5e08a0/graffiti-art-bright-street-wall.jpg") no-repeat top center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
header {
  height: 150px;
}
.button {
  background-color: #FFFFFF;
   border: none;
   color: #000000;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 8px;
   margin-top: 2em;
}
.Logo1 {
  width: 150px;
  float: left;
}

/* ==================================================Navigatie bar================================================== */
#topnav{display:block; float:right; width:650px; margin:17px 0 0 0; padding:0; font-size:13px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;}
#topnav ul{margin:0; padding:0; list-style:none;}
#topnav ul, #topnav li{float:right; list-style:none; margin:0; padding:0;}
#topnav li a:link, #topnav li a:visited, #topnav li a:hover{display:block; margin:0 10px 0 0; padding:5px 5px; color:#3f3b32;}

#fotolijst {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#midden {
  grid-column: 2/2;
}

.foto {
  text-align: center;
  background-color: #8F8F8F;
}

#image {
  width: 400px;
  height: auto;
}

#teksten {
  text-align: center;
  background-color: #d3d3d3;
  width: 300px;
  position: relative;
  left: 600px;
}

#delete {
  color: red;
  float: right;
  text-decoration: none;
}
