.venster {
  width: 150px;
  height: 50px;
  padding: 10px;
}

.button {
  width: 150px;
  height: 50px;
}

.achtergrond {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0,0.5);
  display: grid;
  justify-items: center;
  align-items: center;
}

.modaalVenster {
  max-width: 80%;
  padding: 2em;
  border-radius: 1em;
  background-color: #fff;
  max-height: 80vh;
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
  animation: opkomen 1s ease-in-out forwards;
}

.kruisje {
  width: 2em;
  justify-self: end;
  font-size: 2em;
  font-weight: 900;
  transform: translateX(1em);
  border: 0;
  background-color: white;
}
.kruisje:hover {
  color: red;
}
