.venster {
  width: 150px;
  padding: 10px;
}

.achtergrond {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0,0.5);
  display: grid;
  justify-items: center;
  align-items: center;
}

.modaalVenster {
  width: 150px;
  padding: 2em;
  border-radius: 1em;
  background-color: #fff;
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
}
#tekst1 {
  display: block;
}

#tekst2 {
  display: none;
}
